#root {
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.header {
	position: sticky;
	top: 56px;
	z-index: 2;
	background-color: white;
}

@media (min-width:600px) {
	.header {
		top: 64px;
	}
}

.hits {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 15px 0;
}

.news-list {
	display: flex;
	flex-direction: column;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
}
